@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');




* {
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

main {
    height: 40%;
    background-color: #D9C4C4;
    width: 100%;
}

h1 {
    font-family: 'Rubik Marker Hatch', cursive;
    text-align: center;
    color: #008A1E;
    opacity: 0.50;
    font-size: 6rem;
}

.moha_conteneur {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.les_pizzas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.selects {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.les_selects {
    border: solid 2px black;
    border-radius: 0.45rem;
    padding: 0.5rem 1.5rem;
    /* min-width: 30%; */
    text-align: center;
    background-color: #7AEB93;
    text-transform: capitalize;
    font-weight: bold;

}

.tpza {
    color: #F54949;
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

.entete {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.taille {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
    padding: 1rem;
    padding-right: 0;
}

h2 {
    font-family: 'Rubik Marker Hatch', cursive;
    color: #008A1E;
    font-size: 4rem;
    opacity: 0.50;
}

h3 {
    font-family: 'Merienda', cursive;
    color: #008A1E;
    font-size: 2rem;
    opacity: 0.50;
}

.toute_pizza {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.classique {
    width: 80%;
    border-radius: dashed 2px blue;
}

.p_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.p_menu-head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price {
    display: flex;
    gap: 6rem;
}

img {
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    ;
}

.classic_content {
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 2px rgb(19, 19, 56);

}

@media screen and (max-width: 900px) {
    .entete {
        flex-direction: column;
    }

    .taille {
        align-self: flex-end;
    }
}

@media screen and (max-width: 400px) {
    .selects {
        display: flex;
        flex-direction: column;
    }


    .classic_content,
    .p_menu,
    .p_menu-head {
        flex-direction: column;
        align-items: center;
    }

    .taille {
        align-self: center;

    }

    .entete h2 {
        font-size: 1.5rem;
    }
}










.box {
    --border-size: 3px;
    --border-angle: 0turn;
    border-radius: .45rem;
    padding: 1rem;
    background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.box:hover {
    animation-play-state: paused;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}