body,html{
    margin: 0;
}

main>.Title{
    display: flex;
    justify-content: center;
    text-align: justify;
    background-color:#F54949;
    color: white;
    font-family: 'Rubik Marker Hatch',cursive;
}

main>.Presentation{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#F54949;
    color: white;
    font-family: 'Rubik Marker Hatch',cursive;
}

main>.Photos{
    display: flex;
    flex-direction: row;
}

main>.img{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #F54949;

}

main>.History{
    display: flex;
    background-color: #F54949;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    text-align: justify;
    font-family: 'Rubik Marker Hatch',cursive;
}
